.png-main-1 {
  background: url(../img/main1.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-2 {
  background: url(../img/main2.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-3 {
  background: url(../img/main3.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-4 {
  background: url(../img/main4.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-5 {
  background: url(../img/main5.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-6 {
  background: url(../img/main6.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-7 {
  background: url(../img/main7.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-main-8 {
  background: url(../img/main8.png) no-repeat 0 0;
  background-size: 100% 100%;
}


/*导航菜单*/

.png-menu-1 {
  background: url(../img/menu1.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-2 {
  background: url(../img/menu2.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-3 {
  background: url(../img/menu3.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-4 {
  background: url(../img/menu4.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-5 {
  background: url(../img/menu5.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-6 {
  background: url(../img/menu6.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-7 {
  background: url(../img/menu7.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-8 {
  background: url(../img/menu8.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-menu-9 {
  background: url(../img/menu9.png) no-repeat 0 0;
  background-size: 100% 100%;
}


/*辅助核算*/

.png-supcal-1 {
  background: url(../img/supcal1.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-2 {
  background: url(../img/supcal2.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-3 {
  background: url(../img/supcal3.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-4 {
  background: url(../img/supcal4.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-5 {
  background: url(../img/supcal5.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-6 {
  background: url(../img/supcal6.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-7 {
  background: url(../img/supcal7.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-8 {
  background: url(../img/supcal8.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.png-supcal-9 {
  background: url(../img/supcal9.png) no-repeat 0 0;
  background-size: 100% 100%;
}
